/.metadata/

.gitignore.txt

/Servers/
BaCode/.metadata/.lock
BaCode/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
BaCode/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
BaCode/.metadata/.plugins/org.eclipse.ui.intro/introstate
BaCode/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
BaCode/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
BaCode/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
BaCode/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
BaCode/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BaCode/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
BaCode/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
BaCode/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
BaCode/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
BaCode/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
BaCode/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
BaCode/.metadata/.mylyn/repositories.xml.zip
BaCode/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
BaCode/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
BaCode/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
BaCode/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BaCode/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
BaCode/.metadata/version.ini
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
BaCode/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
BaCode/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
BaCode/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
BaCode/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
BaCode/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
BaCode/.metadata/.log
